
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="bodypay">
  <div class="container" style="margin-bottom:3%;margin-top:2%">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-lg visible-md" >
      <div>
        <img src="http://acueductocuatroesquinas.com.co/images/EscudoRionegro.png" id="imgpay" alt="Imagen2" class="img-responsive" >
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1 style="text-align:center">{{title}}</h1>
      <br />
      <form>
        <div class="form-group">
          <label>Correo Electronico</label>
          <input type="email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" aria-describedby="emailHelp" placeholder="ejemplo: ejemplo@ejemplo.com">
        </div>
        <div class="form-group">
          <label>Valor a pagar</label>
          <input type="text" class="form-control" placeholder="#####">
        </div>
        <div class="form-group">
          <label>Identidad del usuario</label>
          <input type="text" class="form-control" placeholder="100020202">
        </div>
        <div class="form-group">
          <label>Numero de tarjeta</label>
          <input type="text" class="form-control" placeholder="####">
        </div>
        <div style="text-align:center">
          <button type="submit" class="btn btn-primary">Pagar</button>
          <button type="submit" class="btn btn-danger">Cancelar Peticion</button>
        </div>
      </form>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-lg visible-md" >
      <div>
        <img src="http://acueductocuatroesquinas.com.co/images/EscudoRionegro.png" id="imgpay" alt="Imagen2" class="img-responsive">
      </div>
    </div>
  </div>
  



</div>
