<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="#" class="navbar-brand">{{title}}</a>
      </div>
      <!--desplegable-->
      <ul class="nav navbar-nav navbar-right">

        <li class="avatar">
          <!--cargar imagen de usuario-->
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-th-list"> </span>
            {{menu}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/home']" [routerLinkActive]="['active']">
                <span class="glyphicon glyphicon-home"></span>
                Inicio
              </a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-th-list"></span>
                Nuestra Empresa
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>
