<div class="navigation col-lg-12">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="font-size:25px;position:relative;top:8px;" class="navbar-brand" href="#home" [routerLinkActive]="['active']">{{title}}</a>
        <img src="{{imageLogo}}" alt="Logo" style="width:10%;">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#home" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-home"></span>
              Inicio
            </a>
          </li>
          <li>
            <a href="#nosotros" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-th-list"></span>
              Nosotros
            </a>
          </li>
          <li>
            <a href="#pagos" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-usd"></span>
              Pagos
            </a>
          </li>
          <li>
            <a href="https://acueductocuatroesquinas.com.co/contacto/" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-envelope"></span>
              PQRS
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
              <span class="glyphicon glyphicon-file"></span>
              Informes
            </a>
            <div class="dropdown-menu back-menu" aria-labelledby="navbarDropdown">
              <ul>
                <li>
                  <a href="http://acueductocuatroesquinas.com.co/esal/actadeasamblea2018">
                    <span class="glyphicon glyphicon-file"></span>
                    Acta de Asamblea 2018
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/ACTADECONSTITUCION">
                    <span class="glyphicon glyphicon-file"></span>
                    Acta de constitución
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/CERTIFICADODECAMARADECOMERCIO">
                    <span class="glyphicon glyphicon-file"></span>
                    Certificado de camara y comercio
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/certificadoNumeral3">
                    <span class="glyphicon glyphicon-file"></span>
                    Certificado numeral 3
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/certificadonumeral13">
                    <span class="glyphicon glyphicon-file"></span>
                    Certificado numeral 13
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/EstadosFinancieros">
                    <span class="glyphicon glyphicon-file"></span>
                    Estados Financieros
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/EstatutosAsociacion">
                    <span class="glyphicon glyphicon-file"></span>
                    Estatutos de Asociación
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/InformedeGestion2017">
                    <span class="glyphicon glyphicon-file"></span>
                    Informe de Gestión 2017
                  </a>
                </li>
                <li>
                  <a href="https://acueductocuatroesquinas.com.co/esal/1113602777028">
                    <span class="glyphicon glyphicon-file"></span>
                    Declaración de renta
                  </a>
                </li>
              </ul>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</div>

<hr />
<router-outlet id="home"></router-outlet>
<we id="nosotros"></we>
<pay id="pagos"></pay>
<hr />
<br />
<footer class="page-footer font-small blue pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">
    <div class="row">
      <!--First column-->
      <div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="textofooter">
          <div style="margin-top:6%;margin-bottom:6%;">
            <span style="font-weight:bold;color:#f6eded;font-size:26px">ATENCIÓN AL PUBLICO: </span>
            <ul>
              <li>
                <a href="http://acueductocuatroesquinas.com.co/esal/politica">
                  <span class="glyphicon glyphicon-file"></span>
                  Politica
                </a>
              </li>
              <li *ngFor="let data of info1_footer">{{data}}</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 " id="textofooter">
          <div style="margin-top:6%;margin-bottom:6%">
            <span style="font-weight:bold;color:#f6eded;font-size:26px">INFORMACIÓN </span>
            <ul>
              <li>
                <a href="https://acueductocuatroesquinas.com.co/esal/Aviso_de_privacidad">
                  <span class="glyphicon glyphicon-file"></span>
                  Aviso de privacidad
                </a>
              </li>
              <li *ngFor="let data of info2_footer">{{data}}</li>
            </ul>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</footer>
