.fila1 {
  background-color: #bdd9f1;
}


.fila2 {
  background-color: #83a6cf;
}

.imgmision {
  width: 80%;
  height: auto;
  position: relative;
  top: 20px;
}

.imgvision {
  width: 80%;
  height: 0 auto;
  position: relative;
  top: 20px;
}

.imgvalores {
  width: 80%;
  height: 0 auto;
  position: relative;
  top: 20px;
}

.imgubicacion {
  width: 80%;
  height: 0 auto;
  position: relative;
  top: 20px;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

.main {
  width: 70%;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  background-color: aqua;
}

.main1 {
  width: 30%;
  padding: 20%;
  box-sizing: border-box;
  background-color: blueviolet;
  float: left;
}




.imgquiensomos {
  width: 80%;
  height: 0 auto;
}

.vision {
  position: relative;
  bottom: -60px;
}

.ubicacion {
  position: relative;
  bottom: -60px;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }

  .resp {
    width: 100%;
  }
}
